* {
    /*outline: solid red 1px;*/
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    color: #000;
    transition-duration: 0.3s;
}
header {
    text-align: center;
    position: fixed;
    width: 100%;
    top : 0;
    z-index: 1000;  /*Priorita*/
}
header ul li{
    display: inline-flex;
    padding: 3px;
}
header ul {
    background-color: #256D85;
    padding: 20px
}
header a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
header a:hover {
    color: #a2c3d9;
}
/*Titulok na kazdej stranke*/
.title {
    text-align: center;
    font-size: 70px;
    padding-top: 50px;
    margin: 5%;
}
.login_title {
    color: #eb6d3f;
}

/*-------------------------------MAIN_PAGE--------------------------------*/
/*Nadpis*/
/*.main-title {*/
/*    text-align: center;*/
/*    font-size: 30px;*/
/*    padding-top: 70px;*/
/*    !*font-family: 'Alex Brush';*!*/
/*}*/
.title-container {
    height: 40vh !important;
    background: rgba(26,26,26,0.60) url("Images/forest_bcgrnd.jpg");
    background-blend-mode: overlay;
    background-size: cover;
    background-attachment: fixed;

}
.title-container h3 {
    text-align: center;
    font-size: 60px;
    padding-top: 18vh;
    padding-right: 5%;
    padding-left: 5%;
    color: white;
    /*font-family: 'Alex Brush';*/
}

/*-------------------------------ABOUT_PAGE--------------------------------*/
.about-text {
    /*padding-top: 50px;*/
    margin: 5%;
}
.fotka-zbor {
    max-width: 100%;
    margin: 5%;
    padding: 5%;
}
/*-------------------------------HISTORY_PAGE--------------------------------*/


/*-------------------------------GALLERY_PAGE--------------------------------*/
.btn {
    padding: 30px 20px;
    font-size: 50px;
    border-radius: 10px;
    height: 100px;
    width:50%;    //Specify your width here

}
.gallery-menu {
    background-color: coral;
    text-align: center;
}
.gallery-menu ul {
    width: 100%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}
.gallery-menu ul li {
    display: inline-flex;
    margin: 0px -3px;
    align-items: center;
}
.gallery-menu ul li a {
    padding: 15px 25px;
    text-decoration: none;
    color: black;
}
.gallery-menu ul li a:hover {
    background-color: #eb6d3f;
}
.row {
    display: flex;
    /*text-align: center;*/
    justify-content: center;
    align-items: center;
}
/*-------------------------------LOGIN--------------------------------------*/
.login_section {
    position: absolute;
    background-color: grey;
    width: 17rem;
    height: 17rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.login_section input {
    margin: 0.3rem auto;
    padding: 0.3rem;
    outline: none;
    border-radius: 5px;
    border: 1px white solid;
    box-shadow: none;
}
.login_button {
    padding: 0.5rem;
    margin: 1.1rem auto;
    border-radius: 5px;
    box-shadow: none;
    border: 1px white solid;
    text-transform: uppercase;
}
.login_button:hover {
    background-color: #eb6d3f;
    border: 1px #eb6d3f solid;
}

/*-------------------------------FOOTER--------------------------------------*/
.footer{
    /*position: relative;*/
    bottom: 0;
    width: 100%;
    height: 2.8rem;
    text-align: center;
    padding: 5px 5px;
    background-color: #256D85;
}
.footer p {
    margin: 0;
}
.footer-text{
    color: antiquewhite;
    font-size: 17px;
}
.author {
    font-size: 10px;
}
